.gallery-instagram {
  padding: 3rem 0 0 0;
}
@media only screen and (min-width: 1440px) {
  .gallery-instagram {
    padding: 12rem 0;
  }
}
@media only screen and (min-width: 1640px) {
  .gallery-instagram {
    padding: 20rem 0;
  }
}
.info-media {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: -1rem;
}
.info-media .info-media__facebook,
.info-media .info-media__instagram {
  color: black;
  text-decoration: none;
}
.info-media .info-media__facebook::before {
  font-family: fontello;
  font-style: normal;
  content: '\f301';
  font-size: 5rem;
  padding: 0 1.5rem;
  color: black;
  text-decoration: none;
}
.info-media .info-media__instagram::before {
  font-family: fontello;
  font-style: normal;
  content: '\f16d';
  font-size: 5rem;
  padding: 0 1.5rem;
}
