@font-face {
  font-family: fontello;
  src: url("fonts/fontello.ttf");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  background: transparent;
}
* > :active,
:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}
html {
  font-size: 62.5%;
  font-family: "Cabin", Arial, sans-serif;
}
i {
  font-style: normal;
}
.mankey-symbol::before {
  display: inline;
  font-family: fontello;
  content: '\e804';
}
.container {
  margin: auto;
  max-width: 1638px;
}
.main-text {
  color: #231f20;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-align: center;
  padding: 2rem 0;
  max-width: 340px;
  display: grid;
  grid-template-columns: auto;
  justify-self: center;
  max-width: 100%;
}
.article-text {
  color: #231f20;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2.5rem;
  padding: 2rem 1rem;
  text-align: center;
  overflow: hidden;
  max-height: 340px;
  white-space: wrap;
}
@media only screen and (min-width: 1024px) {
  .article-text {
    margin-bottom: 0rem;
    padding: 3rem 1rem 4rem 1rem;
    max-width: 1400px;
    max-height: 240px;
  }
}
a:active,
a:focus {
  outline: 0;
  border: none;
  -moz-outline-style: none;
}
.stripe-icon-transport::before {
  font-size: 2rem;
  font-family: fontello;
  content: '\e80c';
  padding: 1rem;
}
.stripe-icon-return::before {
  font-size: 2rem;
  font-family: fontello;
  content: '\e80d';
  padding: 1rem;
}
.stripe-icon-rabat::before {
  font-size: 2rem;
  font-family: fontello;
  content: '\e80f';
  padding: 1rem;
}
.nav-icon-person::before {
  font-size: 2rem;
  font-family: fontello;
  content: '\e80a';
}
@media only screen and (max-width: 1020px) {
  .nav-icon-person::before {
    display: none;
  }
}
@media only screen and (max-width: 1020px) {
  .site-nav__action--person {
    display: none;
  }
}
@media only screen and (max-width: 1020px) {
  .site-nav__action--phone {
    display: none;
  }
}
.nav-icon-phone::before {
  font-size: 2rem;
  font-family: fontello;
  content: '\e810';
}
@media only screen and (max-width: 1020px) {
  .nav-icon-phone::before {
    display: none;
  }
}
.nav-icon-search::before {
  font-size: 2rem;
  font-family: fontello;
  content: '\e805';
}
@media only screen and (min-width: 1020px) {
  .nav-icon-search::before {
    display: none;
  }
}
.nav-icon-search-main::before {
  font-size: 2rem;
  font-family: fontello;
  content: '\e805';
}
.nav-icon-heart::before {
  font-size: 2rem;
  font-family: fontello;
  content: '\e806';
}
.nav-icon-shop::before {
  font-size: 2rem;
  font-family: fontello;
  content: '\e807';
}
.nav-icon-bars::before {
  font-size: 3rem;
  font-family: fontello;
  content: '\e809';
}
.nav-icon-arrow-down::before {
  font-size: 1.5rem;
  font-family: fontello;
  content: '\e80b';
}
.nav-icon-arrow-right::before {
  font-size: 1.5rem;
  font-family: fontello;
  content: '\e803';
}
@media only screen and (max-width: 1020px) {
  .nav-icon-arrow-right::before {
    display: none;
  }
}
.nav-icon-arrow-right {
  margin: 0 2rem 0 -1.5rem;
}
.site-nav_action-trigger {
  padding: 1rem;
}
.site-nav_action-trigger:hover {
  cursor: pointer;
}
