.quickview {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.active {
  opacity: 1;
  pointer-events: auto;
}
.quickview > .quickview-container {
  display: block;
  max-width: 1300px;
  position: relative;
  margin: 20px auto;
  background-color: #FFFFFF;
  box-shadow: -4px 7px 26px -4px rgba(0, 0, 0, 0.75);
  display: grid;
  grid-template-columns: 800px 300px;
  justify-content: space-around;
  padding: 2rem 16rem 0 0;
}
@media only screen and (max-width: 1430px) {
  .quickview > .quickview-container {
    max-width: 300px;
  }
}
.change {
  padding: 5rem;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  letter-spacing: 3px;
}
.close {
  position: absolute;
  width: 24px;
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  right: -12px;
  top: -10px;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}
.close:hover {
  background: #00d9ff;
}
