<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karta produktu</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap" rel="stylesheet">
    <script src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <link href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css" rel="stylesheet" />
    <link href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css" rel="stylesheet" />

    <link rel="stylesheet" href="./../../style/style.css">
    <link rel="stylesheet" href="./../../style/header.css">
    <link rel="stylesheet" href="./../../style/main-slider.css">
    <link rel="stylesheet" href="./../../style/gallery-producents.css">
    <link rel="stylesheet" href="./../../style/banner.css">
    <link rel="stylesheet" href="./../../style/gallery-products.css">
    <link rel="stylesheet" href="./../../style/gallery-instagram.css">
    <link rel="stylesheet" href="./../../style/banner-advantage.css">
    <link rel="stylesheet" href="./../../style/rabat.css">
    <link rel="stylesheet" href="./../../style/footer.css">
    <link rel="stylesheet" href="./../../style/rabat.css">
    <link rel="stylesheet" href="./../../style/style.css">
    <link rel="stylesheet" href="style/wrapper-card.css">
    <link rel="stylesheet" href="style/slider.css">
    <link rel="stylesheet" href="style/custom-select.css">
    <link rel="stylesheet" href="style/animation.css">
    <link rel="stylesheet" href="style/modal.css">

    <script src="./card.js"></script>
    <script src="./../../script.js"></script>
    <script src="./../../menu.js"></script>
</head>

<body>

    <header>

        <div class="advertisement">
            <div class="advertisement__stripe">
                <a href="#" class="stripe-one__link"> -20% NA CAŁĄ KOLEKCJĘ ZIMOWĄ! </a>
            </div>
            <div class="advertisement__stripe advertisement__stripe--second">
                <a href="#" class="stripe-one__link">
                    <i class="stripe-icon-transport"></i>
                    Darmowa dostawa
                </a>
                <a href="#" class="stripe-one__link">
                    <i class="stripe-icon-return"></i>
                    30 dni na zwrot
                </a>
                <a href="#" class="stripe-one__link">
                    <i class="stripe-icon-rabat"></i>
                    10% na pierwsze zakupy
                </a>
            </div>
        </div>
        <nav>
            <div class="header__site-nav">
                <div class="site-nav">
                    <div class="site-nav__logo-mobile">
                        <a href="#">
                            <img src="./../../assets/Armodo_pl_LOGO.png" alt="armodo" class="logo-mobile">
                        </a>
                    </div>

                    <div class="input__main">
                        <form class="main-input-search">
                            <input class="input-search" type="text" id="fname" name="fname"
                                placeholder="Wpisz czego szukasz"/>
                            <i class="nav-icon-search-main"></i>
                        </form>
                    </div>


                    <ul class="site-nav__actions">
                        <li class="site-nav__action">
                            <button class="site-nav_action-trigger">
                                <i class="nav-icon-search"></i>
                            </button>
                        </li>
                        <li class="site-nav__action site-nav__action--phone">
                            <button class="site-nav_action-trigger">
                                <i class="nav-icon-phone"></i>
                            </button>
                        </li>
                        <li class="site-nav__action site-nav__action--person">
                            <button class="site-nav_action-trigger">
                                <i class="nav-icon-person"></i>
                            </button>
                        </li>
                        <li class="site-nav__action">
                            <button class="site-nav_action-trigger">
                                <i class="nav-icon-heart"></i>
                            </button>
                        </li>
                        <li class="site-nav__action site-nav_action-trigger--shop">
                            <button class="site-nav_action-trigger">
                                <i class="nav-icon-shop"></i>
                                <span class="counter-shop">1</span>
                            </button>
                            <div class="shop-texts ">
                                <div class="shop-text">KOSZYK</div>
                                <div class="shop-text shop-text--price">0,00 zł</div>
                            </div>
                            <i class="nav-icon-arrow-right"></i>
                        </li>
                        <li class="site-nav_flag">
                            <div class="bottom"></div>
                            <i class="nav-icon-arrow-down"></i>
                        </li>

                    </ul>
                    <button class="site-nav_menu">
                        <i class="nav-icon-bars"></i>
                    </button>
                </div>
            </div>

            <div class="menu">
                <ul class="menu__list">
                    <li class="menu-item menu-item--active menu-women">
                        <div class="arrow-left-menu"></div>
                        <a href="#">Damskie</a>
                        <i class="menu-arrow-right"></i>
                    </li>
                    <li class="menu-item menu-item--active">
                        <div class="arrow-left-menu"></div>
                        <a href="#">Męskie</a>
                        <i class="menu-arrow-right"></i>
                    </li>
                    <li class="menu-item menu-item--active">
                        <div class="arrow-left-menu"></div>
                        <a href="#">Torebki</a>
                        <i class="menu-arrow-right"></i>
                    </li>
                    <li class="menu-item menu-item--active">
                        <div class="arrow-left-menu"></div>
                        <a href="#">Akcesoria</a>
                        <i class="menu-arrow-right"></i>
                    </li>
                    <li class="menu-item menu-item--active">
                        <div class="arrow-left-menu"></div>
                        <a href="#">Premium</a>
                        <i class="menu-arrow-right"></i>
                    </li>
                    <li class="menu-item"><a href="#">Marki</a></li>
                    <li class="menu-item"><a href="#">Nowość</a></li>
                    <li class="menu-item"><a href="#">Wyprzedaż</a></li>
                </ul>

                <div class="menu-subcategory menu-subcategory--one">
                    <div class="menu-text">
                        <a class="menu-subcategory__main-text" href="#">Marki</a>
                    </div>
                    <div class="menu-subcategory__list menu-subcategory--one__list">
                        <ul class="menu__list ">
                            <li class="menu-item"><a href="#">Nessi </a></li>
                            <li class="menu-item"><a href="#">Tamaris</a></li>
                            <li class="menu-item"><a href="#">Gino rossi</a></li>
                            <li class="menu-item"><a href="#">Carinii</a></li>
                            <li class="menu-item"><a href="#">Karino</a></li>
                            <li class="menu-item"><a href="#">Nessi </a></li>
                            <li class="menu-item"><a href="#">Tamaris</a></li>
                            <li class="menu-item"><a href="#">Gino rossi</a></li>
                            <li class="menu-item"><a href="#">Carinii</a></li>
                            <li class="menu-item"><a href="#">Karino</a></li>
                            <li class="menu-item menu-item--all"><a href="#">wszystkie marki</a></li>
                        </ul>
                    </div>
                </div>
                <div class="menu-subcategory menu-subcategory--two">
                    <div class="menu-text">
                        <div class="arrow-left-menu"></div>
                        <a class="menu-subcategory__main-text-two" href="#">Botki i kozaki</a>
                        <i class="menu-arrow-right"></i>
                    </div>
                    <div class="menu-subcategory__list menu-subcategory--two__list">
                        <ul class="menu__list ">
                            <li class="menu-item"><a href="#">Botki </a></li>
                            <li class="menu-item"><a href="#">Glany</a></li>
                            <li class="menu-item"><a href="#">Kowbojki</a></li>
                            <li class="menu-item"><a href="#">Kozaki</a></li>
                            <li class="menu-item"><a href="#">Muszkieterki</a></li>
                            <li class="menu-item"><a href="#">Oficerki</a></li>
                            <li class="menu-item"><a href="#">Śniegowce</a></li>
                            <li class="menu-item"><a href="#">Sztyblety</a></li>
                            <li class="menu-item"><a href="#">Trekkingi i trapery</a></li>
                        </ul>
                    </div>
                </div>
                <div class="menu-subcategory menu-subcategory--three">
                    <div class="menu-text">
                        <div class="arrow-left-menu"></div>
                        <a class="menu-subcategory__main-text-three" href="#">Półbuty</a>
                        <i class="menu-arrow-right"></i>
                    </div>
                    <div class="menu-subcategory__list menu-subcategory--three__list">
                        <ul class="menu__list ">
                            <li class="menu-item"><a href="#">Baleriny </a></li>
                            <li class="menu-item"><a href="#">Czółenka</a></li>
                            <li class="menu-item"><a href="#">Espadryle</a></li>
                            <li class="menu-item"><a href="#">Lordsy</a></li>
                            <li class="menu-item"><a href="#">Mokasyny</a></li>
                            <li class="menu-item"><a href="#">Na kortunie</a></li>
                            <li class="menu-item"><a href="#">Na obcasie</a></li>
                            <li class="menu-item"><a href="#">Oxfordy</a></li>
                            <li class="menu-item"><a href="#">Płaskie</a></li>
                            <li class="menu-item"><a href="#">Sneakersy</a></li>
                            <li class="menu-item"><a href="#">Trampki</a></li>
                        </ul>
                    </div>
                </div>
                <div class="menu-subcategory menu-subcategory--four">
                    <div class="menu-text">
                        <div class="arrow-left-menu"></div>
                        <a class="menu-subcategory__main-text-four" href="#">Klapki i sandały</a>
                        <i class="menu-arrow-right"></i>
                    </div>
                    <div class="menu-subcategory__list menu-subcategory--four__list">
                        <ul class="menu__list ">
                            <li class="menu-item"><a href="#">Klapki </a></li>
                            <li class="menu-item"><a href="#">Sandały</a></li>
                        </ul>
                    </div>


                </div>
                <ul class="menu__list menu__list--mobile"> 
                    <li class="menu-item menu-item--info "><a href="#"><i class="nav-icon-person--mobile"></i> Zaloguj się</a></li>
                    <li class="menu-item menu-item--info "><a href="#"><i class="nav-icon-lock--mobile"></i>Zarejestruj się</a></li>
                    <li class="menu-item menu-item--info "><a href="#"><i class="nav-icon-glob--mobile"></i>Sprawdź status zamówienia</a></li>
                    <li class="menu-item menu-item--info "><a href="#"><i class="nav-icon-phone--mobile"></i>+48 786816322</a></li>
                    <li class="menu-item menu-item--info "><a href="#"><i class="nav-icon-mail--mobile"></i>bok@armando.pl</a></li>
                    <li class="menu-item menu-item--info "><a href="#" class="priceCard-mobile"> Koszyk: 0 | Suma: 0,00zł</a></li>
                </ul>
                <div class="menu-subcategory menu__banner">
                    <div class="banner__item">
                        <span class="banner__item-text">Baner reklamowy</span>
                        <a href="#">
                            <img src="https://place-hold.it/526x275/cfcfcf/231F20&text=" alt="BANER REKLAMOWY"
                                class="banner__item-img">
                        </a>
                    </div>
                </div>
                <ul class="menu__list menu__list--under-banner">
                    <li class="menu-item menu-item--info "><a href="#">NOWOŚCI</a></li>
                    <li class="menu-item menu-item--info "><a href="#">WYPRZEDAŻ</a></li>
                    <li class="menu-item menu-item--info "><a href="#">BESTSELLERY</a></li>
                </ul>
            </div>

        </nav>
    </header>

    <main>
        <section class="shop">
            <div class="container-nav">
                <div class="slider slider-nav">
                    <a href="#">
                        <img src="./../../assets/products/product_1.png" alt="product" class="slider-item">
                    </a>
                    <a href="#">
                        <img src="./../../assets/products/product_2.png" alt="product" class="slider-item">
                    </a>
                    <a href="#">
                        <img src="./../../assets/products/product_1.png" alt="product" class="slider-item">
                    </a>
                    <a href="#">
                        <img src="./../../assets/products/product_1.png" alt="product" class="slider-item">
                    </a>
                    <a href="#">
                        <img src="./../../assets/products/product_1.png" alt="product" class="slider-item">
                    </a>
                    <a href="#">
                        <img src="./../../assets/products/product_2.png" alt="product" class="slider-item">
                    </a>
                    <a href="#">
                        <img src="./../../assets/products/product_1.png" alt="product" class="slider-item">
                    </a>
                    <a href="#">
                        <img src="./../../assets/products/product_1.png" alt="product" class="slider-item">
                    </a>
                    <a href="#">
                        <img src="./../../assets/products/product_1.png" alt="product" class="slider-item">
                    </a>
                    <a href="#">
                        <img src="./../../assets/products/product_1.png" alt="product" class="slider-item">
                    </a>
                </div>
                <div class="arrow-prev-slider-nav"></div>
                <div class="arrow-next-slider-nav"></div>
            </div>

            <div class="wrapper-slider">
                <div class="wrapper-name-desktop">
                    <div class="wrapper_name wrapper_name--desktop">
                        <div class="name-text">Botki KARINO</div>
                        <div class="name-type">3019/076-F czarny </div>
                    </div>
                    <div class="wrapper_promotion wrapper_promotion--desktop">
                        <a href="#" class="promotion-block">promocja</a>
                        <div class="opinion-block-stars">
                            <ul class="opinion-stars">
                                <li class="star"></li>
                                <li class="star"></li>
                                <li class="star"></li>
                                <li class="star"></li>
                                <li class="star star--none"></li>
                            </ul>
                            <p>4.5</p>
                        </div>
                    </div>
                </div>
                <div class="slider-container">
                    <div class="slider slider-for">
                        <a href="#">
                            <img src="./../../assets/products/product_1.png" alt="product" class="slider-item">
                        </a>
                        <a href="#">
                            <img src="./../../assets/products/product_2.png" alt="product" class="slider-item">
                        </a>
                        <a href="#">
                            <img src="./../../assets/products/product_1.png" alt="product" class="slider-item">
                        </a>
                        <a href="#">
                            <img src="./../../assets/products/product_1.png" alt="product" class="slider-item">
                        </a>
                        <a href="#">
                            <img src="./../../assets/products/product_1.png" alt="product" class="slider-item">
                        </a>
                        <a href="#">
                            <img src="./../../assets/products/product_2.png" alt="product" class="slider-item">
                        </a>
                        <a href="#">
                            <img src="./../../assets/products/product_1.png" alt="product" class="slider-item">
                        </a>
                        <a href="#">
                            <img src="./../../assets/products/product_1.png" alt="product" class="slider-item">
                        </a>
                        <a href="#">
                            <img src="./../../assets/products/product_1.png" alt="product" class="slider-item">
                        </a>
                        <a href="#">
                            <img src="./../../assets/products/product_1.png" alt="product" class="slider-item">
                        </a>
                    </div>

                    <div class="arrow-prev-product-card"></div>
                    <div class="arrow-next-product-card"></div>
                </div>
            </div>

            <div class="wrapper_promotion">
                <a href="#" class="promotion-block">promocja</a>
                <div class="opinion-block-stars">
                    <ul class="opinion-stars">
                        <li class="star"></li>
                        <li class="star"></li>
                        <li class="star"></li>
                        <li class="star"></li>
                        <li class="star star--none"></li>
                    </ul>
                    <p>4.5</p>
                </div>
            </div>
            <div class="wrapper_name">
                <div class="name-text">Botki KARINO</div>
                <div class="name-type">3019/076-F czarny </div>
            </div>
            <div class="wrapper-card">
                <div class="wrapper-card-container">
                    <div class="card-background">
                        <div class="wrapper-card__producent wrapper-card__producent--desktop">
                            <img src="./../../assets/producents/producent_6.png" alt="">

                            <a href="#">Zobacz inne produkty</a>
                        </div>
                        <div class="wrapper-card__price">
                            <p class="price">289,00 zł</p>
                        </div>
                        <div class="wrapper-card__discount">
                            <p class="discount">321,00 zł</p>
                            <p class="discount-text">Oszczędzasz 10% (22,56 zł)</p>
                        </div>
                        <div class="wrapper-card__time-info">
                            <i class="time-symbol"></i>
                            <div class="time-info">Zamów dziś, wyślemy w czwartek 12.02</div>
                        </div>
                        <div class="wrapper-card__availability-list">
                            <form >
                                <div class="select-box">
                                    <div class="options-container">
                                      <div class="option">
                                        <input type="radio" class="radio" id="size_1" name="category" />
                                        <label for="size_1"> <span class="circle-green"></span>Rozmiar: 38 | Dostępne</label>
                                      </div>
                            
                                      <div class="option">
                                        <input type="radio" class="radio" id="size_2" name="category" />
                                        <label for="size_2"> <span class="circle-green"></span>Rozmiar: 40 | Dostępne</label>
                                      </div>
                            
                                      <div class="option">
                                        <input type="radio" class="radio" id="size_3" name="category" />
                                        <label for="size_3"> <span class="circle-red"></span> Rozmiar: 52 | Niedostępne</label>
                                      </div>
                                    </div>
                            
                                    <div class="selected">
                                      Wybierz rozmiar
                                    </div>
                                  </div>
                            </form>
                        </div>
                        <div class="wrapper-card__size-table">
                            <i class="table-symbol"></i>
                            <p class="table-text">
                                 <a href="#">Tabela rozmiarów</a>   
                            </p>
                        </div>
                        <div class="wrapper-card__button">
                            <div class="button">
                                <button class="button-add-to-card">Dodaj do koszyka</button>
                            </div>
                            <i class="symbol-heart"></i>
                        </div>

                        <ul class="wrapper-card__list-info-icon">
                            <li class="info-icon">
                                <i class="symbol-car"></i>
                                <p class="info-text">Darmowa dostawa</p>
                            </li>
                            <li class="info-icon">
                                <i class="symbol-return"></i>
                                <p class="info-text">30 dni na zwrot</p>
                            </li>
                            <li class="info-icon">
                                <i class="symbol-phone"></i>
                                <p class="info-text">Zamów telefonicznie | +48 786818322</p>
                            </li>
                        </ul>
                    </div>
                    <div class="wrapper-card__availability-colors availability-colors--desktop">
                        <div class="main-text">Dostępne kolory</div>
                        <ul class="colors-products">
                            <li class="color-product">
                                <a href="#">
                                    <img src="./../../assets/product/product_color.png" alt="">
                                    <p>Czarny</p>
                                </a>

                            </li>
                            <li class="color-product">
                                <a href="#">
                                    <img src="./../../assets/product/product_color.png" alt="">
                                    <p>Brązowy</p>
                                </a> 
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="wrapper-card__availability-colors">
                <div class="main-text">Dostępne kolory</div>
                <ul class="colors-products">
                    <li class="color-product">
                        <a href="#">
                            <img src="./../../assets/product/product_color.png" alt="">
                            <p>Czarny</p>
                        </a>

                    </li>
                    <li class="color-product">
                        <a href="#">
                            <img src="./../../assets/product/product_color.png" alt="">
                            <p>Brązowy</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="wrapper-card__producent wrapper-card__producent--mobile">
                <img src="./../../assets/producents/producent_6.png" alt="">

                <a href="#">Zobacz inne produkty</a>
            </div>
        </section>
        <section class="product-info">
            <div class="wrapper__product-info">
                <div class="product-info__info-block">
                    <ul class="product-info__info-block--title">
                        <li class="info-item">Producent:</li>
                        <li class="info-item">Gwarancja:</li>
                        <li class="info-item">Wzór/Model:</li>
                        <li class="info-item">Kolor:</li>
                        <li class="info-item">Cholewka:</li>
                        <li class="info-item">Wnętrze i wkładka:</li>
                        <li class="info-item">Podeszwa:</li>
                        <li class="info-item">Materiał obcasa:</li>
                        <li class="info-item">Wysokość obcasa:</li>
                        <li class="info-item">Grubość podeszwy:</li>
                        <li class="info-item">Wysokość całkowita buta:</li>
                        <li class="info-item">Pozostałe cechy:</li>
                        <li class="info-item info-item-desktop">Rodzaj obcasa:</li>
                        <li class="info-item info-item-desktop">Tęgość:</li>
                    </ul>
                    <ul class="info-block__info-block--properties">
                        <li class="info-item"><a href="#">Karino</a></li>
                        <li class="info-item">2 lata</li>
                        <li class="info-item">120019</li>
                        <li class="info-item">rudy 24</li>
                        <li class="info-item">skóra naturalna</li>
                        <li class="info-item">skóra naturalna</li>
                        <li class="info-item">podgumowana</li>
                        <li class="info-item">obłożone skórą</li>
                        <li class="info-item">8 cm</li>
                        <li class="info-item">0,6 cm</li>
                        <li class="info-item">18,5 cm</li>
                        <li class="info-item">na zamek <i class="symbol-question"></i></li>
                        <li class="info-item info-item-desktop">koturn</li>
                        <li class="info-item info-item-desktop">G</li>
                    </ul>
                </div>
                <article class="info-block__info-block--text">
                    Wygodne botki marki Carinii. Wierzchnią część butów tworzy Skóra naturalna - Zamsz. Botki posiadają
                    obcas o wysokości 9,5 cm. Botki posiadają wyściółkę, to materiał, skóra. Wkładka to skóra. Trwała
                    podeszwa to wysokogatunkowe tworzywo. Kobiecy fason, który sprawdzi się przy różnej pogodzie.
                </article>
            </div>
            <div class="wrapper__photos-slider">
                <div class="info-block__photos">
                    <a href="#"><img src="./../../assets/product/photo_1.png" alt="" class="photos-item"></a>
                    <a href="#"><img src="./../../assets/product/photo_2.png" alt="" class="photos-item"></a>
                </div>
                <p class="main-text main-text--instagram">
                    Dobierz niezbędne akcesoria
                </p>
                <div class="info-slider">
                  
                    <div class="slider slider-accessories">
                        <div class="slider-element">
                            <a href="#">
                                <img src="./../../assets/product/acc1.png" alt="produkt" class=" ">
                                <p class="slider-main-text">Wkładki do butów - Lateks Aloe Vera</p>
                                <p class="slider-price">8,50 zł</p>
                            </a>
                        </div>
                        <div class="slider-element">
                            <a href="#">
                                <img src="./../../assets/product/acc1.png" alt="produkt" class=" ">
                                <p class="slider-main-text">ANTIACQUA - COCCINE bezbarwny impregnat</p>
                                <p class="slider-price">8,50 zł</p>
                            </a>
                        </div>
                        <div class="slider-element">
                            <a href="#">
                                <img src="./../../assets/product/acc1.png" alt="produkt" class=" ">
                                <p class="slider-main-text">Wkładki do butów - Lateks Aloe Vera</p>
                                <p class="slider-price">8,50 zł</p>
                            </a>
                        </div>
                        
                    </div>
                    <div class="arrow-prev-accessories"></div>
                    <div class="arrow-next-accessories"></div>

                </div>
            </div>

        </section>
        <section class="container products-slider">
            <p class="main-text main-text--instagram">
                Wybrane dla ciebie
            </p>
            <div class="gallery">
                <div class="gallery-container--product">
                    <div class="gallery-slides gallery-slides-product type-two-gallery-slides-card">
                        <div class="gallery-slider-element">
                            <a href="#">
                                <img src="./../../assets/products/product_1.png" alt="produkt"
                                    class="gallery__item-img--product">
                            </a>
                            <div class="gallery-description">
                                <div class="gallery-description__text-product">
                                    <a href="#">BOTKI KARINO</a>
                                </div>
                                <div class="gallery-description__type-product">
                                    <a href="#">3019/076-F czarny</a>
                                </div>
                                <div class="gallery-description__price-product">
                                    <a href="#"> 289,00 ZŁ</a>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-slider-element">
                            <a href="#">
                                <img src="./../../assets/products/product_2.png" alt="produkt"
                                    class="gallery__item-img--product">
                            </a>
                            <div class="gallery-description">
                                <div class="gallery-description__text-product">
                                    <a href="#">BOTKI KARINO</a>
                                </div>
                                <div class="gallery-description__type-product">
                                    <a href="#">3019/076-F czarny</a>
                                </div>
                                <div class="gallery-description__price-product">
                                    <a href="#"> 289,00 ZŁ</a>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-slider-element">
                            <a href="#">
                                <img src="./../../assets/products/product_3.png" alt="produkt"
                                    class="gallery__item-img--product">
                            </a>
                            <div class="gallery-description">
                                <div class="gallery-description__text-product">
                                    <a href="#">BOTKI KARINO</a>
                                </div>
                                <div class="gallery-description__type-product">
                                    <a href="#">3019/076-F czarny</a>
                                </div>
                                <div class="gallery-description__price-product">
                                    <a href="#"> 289,00 ZŁ</a>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-slider-element">
                            <a href="#">
                                <img src="./../../assets/products/product_4.png" alt="produkt"
                                    class="gallery__item-img--product">
                            </a>
                            <div class="gallery-description">
                                <div class="gallery-description__text-product">
                                    <a href="#">BOTKI KARINO</a>
                                </div>
                                <div class="gallery-description__type-product">
                                    <a href="#">3019/076-F czarny</a>
                                </div>
                                <div class="gallery-description__price-product">
                                    <a href="#"> 289,00 ZŁ</a>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-slider-element">
                            <a href="#">
                                <img src="./../../assets/products/product_4.png" alt="produkt"
                                    class="gallery__item-img--product">
                            </a>
                            <div class="gallery-description">
                                <div class="gallery-description__text-product">
                                    <a href="#">BOTKI KARINO</a>
                                </div>
                                <div class="gallery-description__type-product">
                                    <a href="#">3019/076-F czarny</a>
                                </div>
                                <div class="gallery-description__price-product">
                                    <a href="#"> 289,00 ZŁ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="arrow-prev-product-card-slider"></div>
                <div class="arrow-next-product-card-slider"></div>
            </div>
        </section>
        <section class="container gallery-instagram">
            <p class="main-text main-text--instagram">
                <!-- <i class="mankey-symbol"></i> -->
                @armondo - sprawdź co nowego
            </p>
            <div class="info-media">
                <a href="#" class="info-media__facebook"></a>
                <a href="#" class="info-media__instagram"></a>
            </div>
            <div class="gallery">
                <div class="gallery-container">
                    <div class="gallery-slides gallery-slides-instagram type-three-gallery-slides">
                   
                            <img src="./../../assets/foto_1.png" alt="fotografia" class="gallery__item-img--slider">
                
                            <img src="./../../assets/foto_2.png" alt="fotografia" class="gallery__item-img--slider">
                      
                            <img src="./../../assets/foto_3.png" alt="fotografia" class="gallery__item-img--slider">
                      
                            <img src="./../../assets/foto_2.png" alt="fotografia" class="gallery__item-img--slider">
                        
                    </div>
                </div>
                <div class="arrow-prev"></div>
                <div class="arrow-next"></div>
            </div>
        </section>
        <p class="main-text">Opinie naszych klientów</p>
        <section class="container opinions">

            <div class="feedback-indicator">
                <div class="opinion-block-stars opinion-block-stars--big">
                    <ul class="opinion-stars">
                        <li class="star"></li>
                        <li class="star"></li>
                        <li class="star"></li>
                        <li class="star"></li>
                        <li class="star star--none"></li>
                    </ul>
                    <p>4.5</p>
                </div>
                <p class="opinion-count">Liczba wystawionych opinii: 7</p>
                <ul class="bars">
                    <li class="bar">
                        <p class="bar_mark bar_mark--five">5</p>
                        <div class="star"></div>
                        <div class="progress-bar">
                            <div class="progress progress--one"></div>
                        </div>
                        <p class="mark-count">(21)</p>
                    </li>
                    <li class="bar">
                        <p class="bar_mark bar_mark--four">4</p>
                        <div class="star"></div>
                        <div class="progress-bar">
                            <div class="progress progress--two"></div>
                        </div>
                        <p class="mark-count">(5)</p>
                    </li>
                    <li class="bar">
                        <p class="bar_mark bar_mark--three">3</p>
                        <div class="star"></div>
                        <div class="progress-bar">
                            <div class="progress progress--three"></div>
                        </div>
                        <p class="mark-count">(0)</p>
                    </li>
                    <li class="bar">
                        <p class="bar_mark bar_mark--two">2</p>
                        <div class="star"></div>
                        <div class="progress-bar">
                            <div class="progress progress--four"></div>
                        </div>
                        <p class="mark-count"> (0)</p>
                    </li>
                    <li class="bar">
                        <p class="bar_mark bar_mark--one">1</p>
                        <div class="star"></div>
                        <div class="progress-bar">
                            <div class="progress progress--five"></div>
                        </div>
                        <p class="mark-count">(1)</p>
                    </li>
                </ul>
                <div class="button">
                    <button class="button-add-to-card">Dodaj swoją opinię</button>
                </div>

            </div>
            <div>
                <div class="opinions-clients">
                    <div class="opinion-block-stars opinion-block-stars--mid">
                        <ul class="opinion-stars">
                            <li class="star"></li>
                            <li class="star"></li>
                            <li class="star"></li>
                            <li class="star"></li>
                            <li class="star"></li>
                        </ul>
                        <p>5/5</p>
                    </div>
                    <p class="opinion-client"> Towar zgodny z opisem. Szybka wysyłka. Gorąco polecam</p>
                    <p class="client">Wera, Szczecin, Polska</p>
                    <div class="likes">
                        <p class="client">Czy ta opinia była pomocna?</p>
                        <p class="like">Tak (3)</p>
                        <p class="dislike">Tak (0)</p>
                    </div>
                    <div class="opinion-border"></div>
                </div>
                <div class="opinions-clients">
                    <div class="opinion-block-stars opinion-block-stars--mid">
                        <ul class="opinion-stars">
                            <li class="star"></li>
                            <li class="star"></li>
                            <li class="star"></li>
                            <li class="star"></li>
                            <li class="star"></li>
                        </ul>
                        <p>5/5</p>
                    </div>
                    <p class="opinion-client"> Towar zgodny z opisem. Szybka wysyłka. Gorąco polecam</p>
                    <p class="client">Wera, Szczecin, Polska</p>
                    <div class="likes">
                        <p class="client">Czy ta opinia była pomocna?</p>
                        <p class="like">Tak (3)</p>
                        <p class="dislike">Tak (0)</p>
                    </div>
                    <div class="opinion-border"></div>
                </div>
            </div>
            <a href="#" class="show-all">Pokaż wszystkie opinie</a>
        </section>
        <section class="container products-slider">
            <p class="main-text main-text--instagram">
                spodobają ci się również
            </p>
            <div class="gallery">
                <div class="gallery-container--product">
                    <div class="gallery-slides gallery-slides-product type-two-gallery-slides">
                        <div class="gallery-slider-element">
                            <a href="#">
                                <img src="./../../assets/products/product_1.png" alt="produkt"
                                    class="gallery__item-img--product">
                            </a>
                            <div class="gallery-description">
                                <div class="gallery-description__text-product">
                                    <a href="#">BOTKI KARINO</a>
                                </div>
                                <div class="gallery-description__type-product">
                                    <a href="#">3019/076-F czarny</a>
                                </div>
                                <div class="gallery-description__price-product">
                                    <a href="#"> 289,00 ZŁ</a>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-slider-element">
                            <a href="#">
                                <img src="./../../assets/products/product_2.png" alt="produkt"
                                    class="gallery__item-img--product">
                            </a>
                            <div class="gallery-description">
                                <div class="gallery-description__text-product">
                                    <a href="#">BOTKI KARINO</a>
                                </div>
                                <div class="gallery-description__type-product">
                                    <a href="#">3019/076-F czarny</a>
                                </div>
                                <div class="gallery-description__price-product">
                                    <a href="#"> 289,00 ZŁ</a>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-slider-element">
                            <a href="#">
                                <img src="./../../assets/products/product_3.png" alt="produkt"
                                    class="gallery__item-img--product">
                            </a>
                            <div class="gallery-description">
                                <div class="gallery-description__text-product">
                                    <a href="#">BOTKI KARINO</a>
                                </div>
                                <div class="gallery-description__type-product">
                                    <a href="#">3019/076-F czarny</a>
                                </div>
                                <div class="gallery-description__price-product">
                                    <a href="#"> 289,00 ZŁ</a>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-slider-element">
                            <a href="#">
                                <img src="./../../assets/products/product_4.png" alt="produkt"
                                    class="gallery__item-img--product">
                            </a>
                            <div class="gallery-description">
                                <div class="gallery-description__text-product">
                                    <a href="#">BOTKI KARINO</a>
                                </div>
                                <div class="gallery-description__type-product">
                                    <a href="#">3019/076-F czarny</a>
                                </div>
                                <div class="gallery-description__price-product">
                                    <a href="#"> 289,00 ZŁ</a>
                                </div>
                            </div>
                        </div>
                        <div class="gallery-slider-element">
                            <a href="#">
                                <img src="./../../assets/products/product_4.png" alt="produkt"
                                    class="gallery__item-img--product">
                            </a>
                            <div class="gallery-description">
                                <div class="gallery-description__text-product">
                                    <a href="#">BOTKI KARINO</a>
                                </div>
                                <div class="gallery-description__type-product">
                                    <a href="#">3019/076-F czarny</a>
                                </div>
                                <div class="gallery-description__price-product">
                                    <a href="#"> 289,00 ZŁ</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="arrow-prev-product"></div>
                <div class="arrow-next-product"></div>
            </div>
        </section>
    </main>
    <section class="rabat-belt rabat-belt-card">
        <div class="rabat-texts">
            <p class="rabat-text__one">- 10% na pierwsze zakupy</p>
            <p class="rabat-text__two">Zapisz się do newslettera i zyskaj rabat</p>
            <div class="btn btn--rabat">
                <a href="#">otrzymaj rabat</a>
            </div>
        </div>
    </section>
    <footer>

        <!-- Navigation Footer -->

        <nav class="footer-nav">
            <div class="footer-nav__list">
                <div class="footer-nav__block">
                    <h5 class="list-block__head">Moje zamówienie</h5>
                    <ul class="list-block__list">
                        <li class="quik-link"><a href="#">Status zamówienia</a></li>
                        <li class="quik-link"><a href="#">Śledzenie przesyłki</a></li>
                        <li class="quik-link"><a href="#">Chcę zareklamować towar</a></li>
                        <li class="quik-link"><a href="#">Chcę zwrócić towar</a></li>
                        <li class="quik-link"><a href="#">Chcę wymienić towar</a></li>
                    </ul>
                </div>
                <div class="footer-nav__block">
                    <h5 class="list-block__head">Moje konto</h5>
                    <ul class="list-block__list">
                        <li class="quik-link"><a href="#">Zarejestruj się</a></li>
                        <li class="quik-link"><a href="#">Moje zamówienia</a></li>
                        <li class="quik-link"><a href="#">Koszyk</a></li>
                        <li class="quik-link"><a href="#">Ulubione</a></li>
                        <li class="quik-link"><a href="#">Historia transakcji</a></li>
                        <li class="quik-link"><a href="#">Moje rabaty</a></li>
                        <li class="quik-link"><a href="#">Newsletter</a></li>
                    </ul>
                </div>
                <div class="footer-nav__block">
                    <h5 class="list-block__head">Regulaminy</h5>
                    <ul class="list-block__list">
                        <li class="quik-link"><a href="#">Informacje o sklepie</a></li>
                        <li class="quik-link"><a href="#">Wysyłka</a></li>
                        <li class="quik-link"><a href="#">Sposoby płatności i prowizji</a></li>
                        <li class="quik-link"><a href="#">Regulamin</a></li>
                        <li class="quik-link"><a href="#">Polityka prywatności</a></li>
                        <li class="quik-link"><a href="#">Odstąpienie od umowy</a></li>
                    </ul>
                </div>
                <div class="footer-nav__block">
                    <h5 class="list-block__head">Więcej</h5>
                    <ul class="list-block__list">
                        <li class="quik-link"><a href="#">O nas</a></li>
                        <li class="quik-link"><a href="#">Blog</a></li>
                        <li class="quik-link"><a href="#">Jak dobrać rozmiar</a></li>
                        <li class="quik-link"><a href="#">Tabela rozmiarów</a></li>
                        <li class="quik-link"><a href="#">Pielęgnacja obuwia</a></li>
                        <li class="quik-link"><a href="#">Technologie</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Information -->

        <div class="footer-info">
            <ul class="info-belt">
                <li class="info-belt__phone">
                    <a href="#" class="reference_phone">+48 786818322</a>
                </li>
                <li class="info-belt__mail">
                    <a href="#" class="reference_email">info@armodo.com</a>
                </li>
                <li class="info-belt__fb">
                    <a href="#" class="reference_fb">Odwiedź nas na facebooku</a>
                </li>
            </ul>
            <figure class="logo_IAI">
                <img src="./../../assets/logo_iai.png" alt="IAI" />
            </figure>
        </div>

        <figure class="container footer__info_pay">
            <img src="./../../assets/ff.png" alt="" />
        </figure>
    </footer>

    <div class="modalDialog">
        <div class="modalDialog-container">
            <a href="#close" title="Close" class="close">X</a> 
            <p class="change">proszę wybierz dostępny rozmiar, który cię interesuje</p>
            <div class="preloader"></div>
        </div>
    </div>

</body>

</html>